# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.user
*.filters
*.sdf
*.ipch
jpeg-6b/vc/vc2019/Debug/
jpeg-6b/vc/vc2019/Release/
awpcvvideo/Debug/
vc2019/.vs/
TinyXML/vc/vc2019/Debug/
TinyXML/vc/vc2019/Release/
TinyXML/vc/vc2019/x64/
awpcvvideo/Debug/
awpcvvideo/Release/
awpcvvideo/x64/
awpipl2/vc/vc2019/Debug/
awpipl2/vc/vc2019/Release/
awpipl2/vc/vc2019/x64/
*.ilk
awplflib/vc/vc2019/CSBuilder/Debug/
awplflib/vc/vc2019/CSBuilder/Release/
awplflib/vc/vc2019/CSBuilder/x64/
vc2019/Debug/
awplflib/vc/vc2019/Debug/
awplflib/vc/vc2019/Release/
awplflib/vc/vc2019/x64/
*.pdb
awplflib/vc/vc2019/roc/Debug/
awplflib/vc/vc2019/roc/Release/
awpcvvideo/vc2019/Debug/
awpcvvideo/vc2019/Release/
lib/Debug
*.bsc
TinyXML/vc/vc2019/x64
TinyXML/vc/vc2019/Release
TinyXML/vc/vc2019/Debug
jpeg-6b/vc/vc2019/x64
awplflib/vc/vc2019/roc/x64
awpcvvideo/vc2019/x64
vc2019/x64
test/awpipl_test/test_awpipl/Debug
test/awpipl_test/test_awpipl/Release
test/awpipl_test/test_awpipl/x64/Debug
test/awpipl_test/test_awpipl/x64/Release
*.sbr
*.log
*.idb
*.recipe
*.tlog
