# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.user
*.filters
*.sdf
*.ipch
jpeg-6b/vc/vc2019/Debug/*.*
awpcvvideo/Debug/
vc2019/.vs/
TinyXML/vc/vc2019/Debug/
awpcvvideo/Debug/
awpipl2/vc/vc2019/Debug/
*.ilk
awplflib/vc/vc2019/CSBuilder/Debug/
vc2019/Debug/
awplflib/vc/vc2019/Debug/
*.pdb
awplflib/vc/vc2019/roc/Debug/
awpcvvideo/vc2019/Debug/
lib/Debug
